{% extends "base.html" %}

{% block titulo %}
<title>Clubes</title>
{% endblock titulo %}


{% block contenido %}
<h1 class="d-flex justify-content-center">Agregar Club de Primera división Argentina</h1>
<br><br><br>
<form class="d-flex justify-content-center" method="post">
    <div class="d-block">
        {% csrf_token %}
        {{ formulario.as_p }}
        {{ formulario.errors }}
        <input class="btn btn-success" type="submit" value="Agregar Club" />
    </div>
</form>
<br><br><br><br>
<a class="d-flex justify-content-center" href="{% url 'lista_entrenadores' %}"><button type="button" class="btn btn-outline-primary">Volver a la listas</button></a>
{% endblock contenido %}
