{% extends "base.html" %}

{% block titulo %}
<title>Acerca de mi</title>
{% endblock titulo %}


{% block contenido %}
<section class="d-flex justify-content-center">
    <div class="d-block">
        <h1>Acerca de mi</h1>
        <p class="d-flex justify-content-center fs-1"></p>Esta pagina fue diseñada por Martin Domenech para el curso de Python de Coderhouse. En este curso se aprendio el lenguaje de programacion de Python y el uso del framework Django.</p>
    </div>
    </section>
<br><br><br>
{% endblock contenido %}
