{% extends "base.html" %}

{% block titulo %}
<title>Inicio</title>
{% endblock titulo %}


{% block contenido %}
<section class="d-flex justify-content-center">
    {% if user.is_authenticated %}
    <h1>Bienvenido/a {{ user.first_name }} a Futbol ARG</h1>
    {% else %}
    <h1>Bienvenidos a Futbol ARG</h1>
    {% endif %}
</section>
<br><br><br>
<p class="d-flex justify-content-center fs-4">En esta pagina usted podra buscar jugadores de la primera división Argnentina, sus entrenadores y el respectivo club en el que se encuentran.</p>
<br>
<p class="d-flex justify-content-center fs-4">Ademas podra informarse o postear las noticias que quiera en el apartado de Blog.</p>
{% endblock contenido %}
